.blink {
    animation: blink-animation linear 1s infinite;
    color: #392b95;
    -webkit-animation: blink-animation linear 1s infinite;
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink-animation {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}